<p>ヒント：英単語をクリックすると、英単語を隠すことができるぞ！</p>
<div class="words">
  <% words.each do |word| %>
  <div class="word">
    <div class="word__image">
      <%= attachment_image_tag word, :image, format: 'jpeg', size: "100x100" %>
    </div>
    <div id="favorites_buttons_<%= word.id %>">
      <%= render 'users/favorites/favorite', word: word %>
    </div>
      <p><%= word.japanese %></p>
      <div class="word__english">
        <p><%= word.english %></p>
      </div>
  </div>
  <% end %>
</div>