<div class="row">
	<div class="col-xs-5 col-xs-offset-2">
		<h2>ジャンル編集</h2>
		<%= form_with model: @genre, url: admins_genre_path(@genre.id), method: :patch, local: true do |f| %>
		<%= f.label :name, "ジャンル名の入力" %>
		<%= f.text_field :name %>
		<%= f.radio_button :is_valid, "true" %><span>有効</span>
		<%= f.radio_button :is_valid, "false" %><span>無効</span>
		<%= f.submit "更新", class:"" %>
		<% end %>
	</div>
</div>