<div class="row">
	<div class="col-xs-5 col-xs-offset-2">
		<h2>単語登録</h2>
		<%= form_with model: @word, url: admins_word_path(@word.id), method: :patch, local: true do |f| %>
		<%= f.attachment_field :image %>
		<p><%= f.label :word, "単語の入力" %></p>
		<%= f.text_field :word %>
		<p>ジャンル選択</p>
		<%= f.select :genre_id, @genres.map { |genre| [genre.name, genre.id] }, { include_blank: '選択してください'} %>
		<%= f.submit "更新", class:"btn btn-outline-success" %>
		<% end %>
	</div>
</div>