<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= form_with model: @result_word, url: next_path(@question.id), local: true do |f| %>
        <div class="question">
          <div class="question__image">
            <%= attachment_image_tag @question_word, :image, format: 'jpeg', size: "100x100" %>
          </div>
          <div class="question__text">
            <p><%= @question_word.text_jp %></p>
          </div>
          <div class="question__choices">
            <%= f.collection_radio_buttons :chose_text, @choices, :text_en, :text_en %>
          </div>
        </div>
          <%= hidden_field_tag 'result[id]', @result.id %>
          <div class="btn-question">
            <%= f.submit "次へ", class:"btn btn-default" %>
          </div>
      <% end %>
    </div>
  </div>
</div>